/*
!/setup.sh
!/deploy.sh
!/AGENTS.md
!/.gitignore
!/.zshrc
!/.gitconfig
!/.inputrc
!/.wgetrc
!/.config
/.config/*
!/.config/nvim
!/.config/nvim/**
!/.config/wezterm
!/.config/wezterm/**
!/.config/opencode
!/.config/opencode/**
!/.config/btop
!/.config/btop/**
!/.config/starship.toml
!/.config/gh
!/.config/gh/**
/.config/gh/hosts.yml
!/.config/bat
!/.config/bat/**
!/.config/lazygit
!/.config/lazygit/**
!/.config/yazi
!/.config/yazi/**
!/.config/gtk-3.0
!/.config/gtk-3.0/**
!/.config/gtk-4.0
!/.config/gtk-4.0/**
!/.config/tmux
!/.config/tmux/**
!/.config/tmux-sessionizer
!/.config/tmux-sessionizer/**
!/.local
!/.local/bin
!/.local/bin/tmux-sessionizer
