[user]
	name = Jitu
	email = jitumaat@protonmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = diffview
	conflictStyle = zdiff3
[mergetool "diffview"]
	cmd = nvim -c "DiffviewOpen"
[mergetool]
	prompt = false
